* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-color: #E6E6E6;
}
body {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
h1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1.5em;
}
.content {
    margin-top: 20px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

/* unvisited link */
a:link, a:visited{
  color: #39393A;
}

/* mouse over link */
a:hover, a:active {
  color: #297373;
}

.header {
    background-color: #39393a;
}

p, label, option, select {
    color: #39393a;
}

#klausur-inator a:hover, #klausur-inator a:active, #klausur-inator a:link, #klausur-inator a:visited {
    color: #E6E6E6;
    font-size: 3em;
    font-weight: 500;
}

.btn-primary {
    color: #E6E6E6 !important;
    background-color: #297373 !important;
    border-color: #39393a !important;
}